node_modules
.env
.env.local
.env.*.local

dist
artifacts
build
cache
frontend
workflows
cre
scripts
test
contracts
circuits

*.ptau
*.zkey
*.r1cs
*.wasm
circom.exe
verification_key.json

.git
.gitignore
README.md
